
nav .containe ul{
    display: flex;
    gap: 50PX;
    justify-content: center;
}

.containe li, a{
    list-style: none;
    font-size: 25px;
    text-decoration: none;
    color: red;
    text-transform: capitalize;
    font-weight: bolder;
}

.containe a:hover{
    color: black;
}

.color{
    color: black;
}
footer{
    font-size:x-large;
    background-color: gray;
    text-align: center;
    color: white;
    padding: 20px;
}
body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.sec1{
    background-color: #00ffff;
    height: 50vh;
}
.sec1 .contenu{
    display: flex;
    justify-content: space-around;


}
.texte p{
    color: grey;
    font-size: 18px;
}
.texte h1{
    color: rgb(61, 32, 192);
    font-size: 36px;
}
 .contenu .image{
    background-size: cover;
    background-position: center;

    margin-top: 20px; 
}
.contenu .image h4{
    margin-left: 60px;
    color: green;
    font-size: 28px;
    margin-top: -4px;
}

nav .containe ul{
    display: flex;
    gap: 50px;
    justify-content: center;
}
.containe li, a{
    list-style: none;
    font-size: 25px;
    text-decoration: none;
    color: red;
    text-transform: capitalize;
    font-weight: bolder;
}

.containe a:hover{
    color: black;
}

.color{
    color: black;
}
footer{
    font-size:x-large;
    background-color: gray;
    text-align: center;
    color: white;
    padding: 20px;
}
